<div>

    <div class="header bg-dark">
        <div class="container">
            <nav class="nav">
                <a routerLink='' class="nav-link btn btn-outline-primary" routerLinkActive="btn-active" [routerLinkActiveOptions]="{ exact: true }">Basic</a>
                <a routerLink='/advanced' class="nav-link btn btn-outline-primary" routerLinkActive="btn-active">Advanced</a>
                <span><= router</span>
            </nav>
            <div class="text-danger">Angular 7</div>
        </div>

    </div>


    <router-outlet></router-outlet>
</div>